* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/fundo-do-ceu-azul-com-nuvens_336924-3507.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    background-color: #AEE4EC;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 20px
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.sideLeft,
.sideRight {
    display: flex;
    gap: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;

}

.menu a:hover {
    background-color: #7FD3E0;
    border-radius: 5px;
}

.rotate-diagonal {
    transform: rotate(45deg);
    display: inline-block;
    padding: 8px;
}

main {
    margin: 7% auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 150vb;
    height: auto;
    border-radius: 18px;
    background-color: #AEE4EC;
    color: #9B83D1;
}



h2 {
    margin: 3% auto;
    color: #6A4DB8;
}

div {
    display: flex;
}

.login {
    width: 70%;
    padding: 20px;
    border-right: 1px solid #7AB6BC;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden ;
    padding: 10px;
}

form input{
    padding: 20px;
}

form input,
button, select {
    display: block;
    width: 85%;
    height: 35px;
    border: none;
    border-radius: 20px;
    color: #6A4DB8;
}

button:hover {
    transform-origin: center center;
    border-radius: 20px;
    background-color: #7FD3E0;
    transform: scale(1.1);
}

.info-img {
    width: 30%;
    background-image: url(../img/bussola.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



