<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
       <header>
        <nav class="menu">
            <ul>
                <div class="sideLeft">
                    <li><a href="/">Inicio</a></li>
                </div>
                <div class="sideRight">
                    <%if(user) {%>
                    <li><a href="/ponto">Cadastrar Ponto</a></li>
                    <li><a href="/mapa">Visualizar Mapa</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } else{ %> 
                        <li><a href="/cadastro">Realizar Login</a></li>
                        <% } %>
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Mapei Seus Pontos</h1>
        <div>
            <section>
                <h2>O que é?</h2>
                <p>Um site para marcar lugares que você já visitou ou deseja visitar.</p>
                <h2>Como funciona?</h2>
                <p>Adicione seus pontos de interesse e visualize em um mapa interativo. Veja o video ao lado para melhor
                    entendimento.</p>
            </section>
            <section>
                <video max-width="400" height="400" controls>
                    <source src="/assets/video/video.mp4" type="video/mp4">
                    Seu navegador não suporta o elemento de vídeo.
                </video>
            </section>
        </div>
    </main>
</body>

</html>